{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'about/css/about_us.css' %}">
{% endblock %}

{% block title %}درباره ما{% endblock %}


{% block body %}
<section style="background-color: #F3F0EB;">
    <main class="container" style="max-width: 1800px;">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-7  col-12 p-0 h-auto order-md-1 order-2" >
                <div class="container">
                    <h1
                    class="text-end mt-4 mx-5 mb-3"
                    style="font-size: 32px; font-weight: 500">
                       {{ about_us.title }}
                    </h1>

                    <div class="px-5" style="line-height: 34px;text-align: justify;">
                    
                        <p style="text-align: justify;"> {{ about_us.discription|safe }} </p>
                        
                    </div>

                    
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-5 col-12 p-0 order-md-2 order-1">
                <div  >
                    <img class="w-100" src="{{ about_us.image.url }}" alt="expert">
                </div>
            </div>
        </div>
    </main>
</section>
{% endblock %}