.capcher{
    color: black;
}
    
.filter:hover{
    background-color: #A2886A;
    border-radius: 20px 0px 0px 20px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition: 0.5s;
    background: linear-gradient(to left, #A2886A 50%, #F3F0EB 50%) right;
    background-size: 200% 100%;
    color: #ffffff !important;
    
}

.capcher:hover{
    color: #ffffff !important;
}

.filter-active{
    background-color: #A2886A;
    border-radius: 20px 0px 0px 20px;
    
    color: #ffffff !important; 
}

.filter-active .capcher {
    color: #FFFFFF !important;
}

.filter:hover .capcher{
    color: #ffffff !important;
}