@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");
@font-face {
    font-family: "iransans";
    src: url(./fonts/ir_sans.ttf);
}
*{
    font-family: "iransans"; 
}

.text-justify {
    text-align: justify;
}