{% extends 'base.html' %}

{% block title %}beauty salon{% endblock %}

{% block body %}

<!-- Swiper -->
<div class="swiper mySwiper">
    <div class="swiper-wrapper" style="position: relative; max-width: 1200px">
      <div class="swiper-slide">
        <img
          style="width: 100%"
          src="./images/woman-making-beauty-procedures-beauty-salon 1.png"
          alt=""
        />
      </div>
      <div class="swiper-slide">
        <img
          style="width: 100%"
          src="./images/woman-making-beauty-procedures-beauty-salon 1.png"
          alt=""
        />
      </div>
      <div class="swiper-slide">
        <img
          style="width: 100%"
          src="./images/woman-making-beauty-procedures-beauty-salon 1.png"
          alt=""
        />
      </div>
      <div class="swiper-slide">
        <img
          style="width: 100%"
          src="./images/woman-making-beauty-procedures-beauty-salon 1.png"
          alt=""
        />
      </div>
      <div class="swiper-slide">
        <img
          style="width: 100%"
          src="./images/woman-making-beauty-procedures-beauty-salon 1.png"
          alt=""
        />
      </div>
    </div>

    <div class="swiper-button-next d-md-block d-none"></div>
    <div class="swiper-button-prev d-md-block d-none"></div>

    <div
      class="swiper-pagination d-md-block d-none"
      style="color: white"
    ></div>
  </div>

  <!-- section why salon  -->

  <div class="container" style="padding: 150px 0px; max-width: 1200px">
    <div
      class="row justify-content-center align-items-center"
      style="position: relative"
    >
      <div class="col-lg-6">
        <img
          src="./images/Rectangle 4.png"
          alt=""
          class="d-none d-lg-block"
          style="
            position: absolute;
            left: 80%;
            top: 12%;
            z-index: -1;
            height: 347px;
          "
        />
        <img
          src="./images/senior-female-getting-laser-ultrasound-face-treatment-medical-center_181624-51552 1.png"
          alt=""
          class="img-fluid"
          style="width: 97%"
        />
      </div>
      <div class="col-lg-6">
        <h2
          style="
            font-size: 20px;

            text-align: right;

            color: #b58152;
          "
          class="fw-bold"
        >
          چرا سالن نیلا
        </h2>
        <h4
          style="
            font-weight: 500;
            font-size: 32px;
            line-height: 54px;
            text-align: right;

            color: #1e1e1e;
          "
        >
          بهترین خدمات با مناسبترین قیمت
        </h4>
        <p
          style="
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            text-align: justify;

            color: #555555;
          "
        >
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
          ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز،
          و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای
          زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و
          متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان
          رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد
          کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
          راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل
          حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود
          طراحی اساسا مورد استفاده قرار گیرد.
        </p>
      </div>
    </div>
  </div>

  <!-- feauture we  -->
  <div class="" style="background-color: #f3f0eb; padding-bottom: 40px">
    <div
      class="container"
      style="background-color: #f3f0eb; max-width: 1200px"
    >
      <div
        class="d-flex flex-column justify-content-center align-items-center"
      >
        <h2
          class="my-4"
          style="
            font-weight: 700;
            font-size: 32px;

            text-align: center;

            color: #1e1e1e;
          "
        >
          خدمات ما
        </h2>
        <p
          style="
            font-weight: 400;
            font-size: 16px;
            line-height: 35px;
            text-align: center;

            color: #555555;
          "
        >
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
          ستون و سطرآنچنان که لازم است. و برای شرایط فعلی تکنولوژی مورد نیاز،
          و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای
          زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و
          متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان
          رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد
          کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
          راهکارها، و شرایط سخت تایپ به پایان رسد.
        </p>
      </div>

      <!-- hard2 -->
      <div
        class="d-flex justify-content-between align-items-center my-5 flex-wrap"
        style="position: relative"
      >
        <div
          class="w-100 d-none d-md-block"
          style="
            border: 1px solid #a2886a;
            position: absolute;
            z-index: 0;
            top: 35%;
          "
        ></div>

        <div class="d-flex flex-column">
          <div
            class="bg-white d-flex justify-content-center align-items-center"
            style="
              width: 100px;
              border-radius: 50%;
              height: 100px;
              z-index: 1;
            "
          >
            <img src="./images/massage 3.png" alt="" />
          </div>
          <p
            style="
              font-weight: 400;
              font-size: 20px;
              line-height: 34px;

              text-align: center;

              color: #555555;
            "
          >
            زیبایی مو
          </p>
        </div>
        <div class="d-flex flex-column">
          <div
            class="bg-white d-flex justify-content-center align-items-center"
            style="
              width: 100px;
              border-radius: 50%;
              height: 100px;
              z-index: 1;
            "
          >
            <img src="./images/massage 3.png" alt="" />
          </div>
          <p
            style="
              font-weight: 400;
              font-size: 20px;
              line-height: 34px;

              text-align: center;

              color: #555555;
            "
          >
            زیبایی مو
          </p>
        </div>
        <div class="d-md-none d-flex flex-column">
          <div
            class="bg-white d-flex justify-content-center align-items-center"
            style="
              width: 100px;
              border-radius: 50%;
              height: 100px;
              z-index: 1;
            "
          >
            <img src="./images/massage 3.png" alt="" />
          </div>
          <p
            style="
              font-weight: 400;
              font-size: 20px;
              line-height: 34px;

              text-align: center;

              color: #555555;
            "
          >
            زیبایی مو
          </p>
        </div>
        <div class="d-flex flex-column">
          <div
            class="bg-white d-flex justify-content-center align-items-center"
            style="
              width: 100px;
              border-radius: 50%;
              height: 100px;
              z-index: 1;
            "
          >
            <img src="./images/massage 3.png" alt="" />
          </div>
          <p
            style="
              font-weight: 400;
              font-size: 20px;
              line-height: 34px;

              text-align: center;

              color: #555555;
            "
          >
            زیبایی مو
          </p>
        </div>
        <div class="d-flex flex-column">
          <div
            class="bg-white d-flex justify-content-center align-items-center"
            style="
              width: 100px;
              border-radius: 50%;
              height: 100px;
              z-index: 1;
            "
          >
            <img src="./images/massage 3.png" alt="" />
          </div>
          <p
            style="
              font-weight: 400;
              font-size: 20px;
              line-height: 34px;

              text-align: center;

              color: #555555;
            "
          >
            زیبایی مو
          </p>
        </div>
        <div class="d-flex flex-column">
          <div
            class="bg-white d-flex justify-content-center align-items-center"
            style="
              width: 100px;
              border-radius: 50%;
              height: 100px;
              z-index: 1;
            "
          >
            <img src="./images/massage 3.png" alt="" />
          </div>
          <p
            style="
              font-weight: 400;
              font-size: 20px;
              line-height: 34px;

              text-align: center;

              color: #555555;
            "
          >
            زیبایی مو
          </p>
        </div>
      </div>
      <div
        class="row w-100 d-flex align-items-start"
        style="background-color: #fff"
      >
        <div
          class="nav col-lg-3 col-12 flex-column nav-pills"
          id="v-pills-tab"
          role="tablist"
          aria-orientation="vertical"
        >
          <button
            class="nav-link active p-0 mt-3"
            id="v-pills-home-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-home"
            type="button"
            role="tab"
            style="background: #f3f0eb; border-radius: 20px 0px 0px 20px"
            aria-controls="v-pills-home"
            aria-selected="true"
          >
            <div class="d-flex">
              <span
                class="bi bi-arrow-left text-white fw-bold"
                style="
                  background: #a2886a;
                  padding: 10px;
                  border-radius: 20px 0px 0px 22px;
                  height: 100%;
                  font-size: 20px;
                "
              ></span>
              <p style="color: #1e1e1e; line-height: 47px; margin-bottom: 0">
                خدمات ماساژ
              </p>
            </div>
          </button>
          <button
            class="nav-link p-0 mt-3"
            id="v-pills-profile-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-profile"
            type="button"
            role="tab"
            style="background: #f3f0eb; border-radius: 20px 0px 0px 20px"
            aria-controls="v-pills-profile"
            aria-selected="false"
          >
            <div class="d-flex">
              <span
                class="bi bi-arrow-left text-white fw-bold"
                style="
                  background: #a2886a;
                  padding: 10px;
                  border-radius: 20px 0px 0px 22px;
                  height: 100%;
                  font-size: 20px;
                "
              ></span>
              <p style="line-height: 47px; margin-bottom: 0; color: #1e1e1e">
                خدمات ماساژ
              </p>
            </div>
          </button>
          <button
            class="nav-link p-0 mt-3"
            id="v-pills-messages-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-messages"
            type="button"
            role="tab"
            style="background: #f3f0eb; border-radius: 20px 0px 0px 20px"
            aria-controls="v-pills-messages"
            aria-selected="false"
          >
            <div class="d-flex">
              <span
                class="bi bi-arrow-left text-white fw-bold"
                style="
                  background: #a2886a;
                  padding: 10px;
                  border-radius: 20px 0px 0px 22px;
                  height: 100%;
                  font-size: 20px;
                "
              ></span>
              <p
                class="h-100 text-align-center"
                style="line-height: 47px; margin-bottom: 0; color: #1e1e1e"
              >
                خدمات ماساژ
              </p>
            </div>
          </button>
          <button
            class="nav-link p-0 mt-3"
            id="v-pills-settings-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-settings"
            type="button"
            role="tab"
            style="background: #f3f0eb; border-radius: 20px 0px 0px 20px"
            aria-controls="v-pills-settings"
            aria-selected="false"
          >
            <div class="d-flex">
              <span
                class="bi bi-arrow-left text-white fw-bold"
                style="
                  background: #a2886a;
                  padding: 10px;
                  border-radius: 20px 0px 0px 22px;
                  height: 100%;
                  font-size: 20px;
                "
              ></span>
              <p style="line-height: 47px; margin-bottom: 0; color: #1e1e1e">
                خدمات ماساژ
              </p>
            </div>
          </button>
        </div>
        <div class="tab-content p-3 col-lg-9 col-12" id="v-pills-tabContent">
          <div
            class="tab-pane w-100 fade show active"
            id="v-pills-home"
            role="tabpanel"
            aria-labelledby="v-pills-home-tab"
          >
            <div
              class="d-flex flex-wrap flex-lg-nowrap w-100 justify-content-center"
            >
              <img
                src="./images/spa-salon-worker-giving-face-massage 1.png"
                style="border-radius: 50%; border: 8px solid #f6f5f1"
                class="img-fluid"
              />

              <div class="">
                <h3 style="color: #1e1e1e; font-size: 32px">خدمات ماساژ</h3>
                <p style="color: #70562c">از 400،000 تومان</p>
                <p
                  class="text-muted pe-2"
                  style="
                    text-align: justify;
                    font-size: 16px;
                    line-height: 27px;
                  "
                >
                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                  با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه
                  و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                  تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                  کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و
                  آینده شناخت فراوان جامعه و متخصصان را می طلبد.
                </p>

                <div class="w-100" style="text-align: end">
                  <a
                    href="#"
                    class="fw-bold"
                    style="
                      text-decoration: none;
                      color: #9e8a68;
                      font-size: 16px;
                    "
                  >
                    روزو وقت
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="v-pills-profile"
            role="tabpanel"
            aria-labelledby="v-pills-profile-tab"
          >
            <div
              class="d-flex flex-wrap flex-lg-nowrap w-100 justify-content-center"
            >
              <img
                src="./images/spa-salon-worker-giving-face-massage 1.png"
                style="border-radius: 50%; border: 8px solid #f6f5f1"
                class="img-fluid"
              />

              <div class="">
                <h3 style="color: #1e1e1e; font-size: 32px">خدمات ماساژ</h3>
                <p style="color: #70562c">از 400،000 تومان</p>
                <p
                  class="text-muted pe-2"
                  style="
                    text-align: justify;
                    font-size: 16px;
                    line-height: 27px;
                  "
                >
                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                  با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه
                  و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                  تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                  کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و
                  آینده شناخت فراوان جامعه و متخصصان را می طلبد.
                </p>

                <div class="w-100" style="text-align: end">
                  <a
                    href="#"
                    class="fw-bold"
                    style="
                      text-decoration: none;
                      color: #9e8a68;
                      font-size: 16px;
                    "
                  >
                    روزو وقت
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="v-pills-messages"
            role="tabpanel"
            aria-labelledby="v-pills-messages-tab"
          >
            <div
              class="d-flex flex-wrap flex-lg-nowrap w-100 justify-content-center"
            >
              <img
                src="./images/spa-salon-worker-giving-face-massage 1.png"
                class="img-fluid"
                style="border-radius: 50%; border: 8px solid #f6f5f1"
              />

              <div class="">
                <h3 style="color: #1e1e1e; font-size: 32px">خدمات ماساژ</h3>
                <p style="color: #70562c">از 400،000 تومان</p>
                <p
                  class="text-muted pe-2"
                  style="
                    text-align: justify;
                    font-size: 16px;
                    line-height: 27px;
                  "
                >
                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                  با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه
                  و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                  تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                  کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و
                  آینده شناخت فراوان جامعه و متخصصان را می طلبد.
                </p>

                <div class="w-100" style="text-align: end">
                  <a
                    href="#"
                    class="fw-bold"
                    style="
                      text-decoration: none;
                      color: #9e8a68;
                      font-size: 16px;
                    "
                  >
                    روزو وقت
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="v-pills-settings"
            role="tabpanel"
            aria-labelledby="v-pills-settings-tab"
          >
            <div
              class="d-flex flex-wrap flex-lg-nowrap w-100 justify-content-center"
            >
              <img
                src="./images/spa-salon-worker-giving-face-massage 1.png"
                class="img-fluid"
                style="border-radius: 50%; border: 8px solid #f6f5f1"
              />

              <div class="">
                <h3 style="color: #1e1e1e; font-size: 32px">خدمات ماساژ</h3>
                <p style="color: #70562c">از 400،000 تومان</p>
                <p
                  class="text-muted pe-2"
                  style="
                    text-align: justify;
                    font-size: 16px;
                    line-height: 27px;
                  "
                >
                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                  با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه
                  و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                  تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                  کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و
                  آینده شناخت فراوان جامعه و متخصصان را می طلبد.
                </p>

                <div class="w-100" style="text-align: end">
                  <a
                    href="#"
                    class="fw-bold"
                    style="
                      text-decoration: none;
                      color: #9e8a68;
                      font-size: 16px;
                    "
                  >
                    روزو وقت
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- خدمات محبوب -->

  <section class="container my-4" style="max-width: 1200px">
    <div class="d-flex justify-content-center flex-column align-items-center">
      <h3
        style="
          font-size: 32px;
          line-height: 54px;
          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: 0.025em;

          color: #1e1e1e;
        "
        class="fw-bold"
      >
        خدمات محبوب سالن نیلا
      </h3>
      <p
        style="
          font-size: 16px;
          line-height: 27px;
          text-align: center;
          letter-spacing: 0.02em;

          color: #555555;
        "
      >
        و برای شرایـط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود
        ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و
        آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها
        شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ
        پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و
        دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد.
      </p>
    </div>
    <div class="row">
      <div class="col-lg-4 my-2" style="position: relative">
        <img
          src="./images/woman-cosmetology-studio-laser-hair-removal_1157-34891 1.png"
          class="w-100 img-fluid"
          alt=""
        />
        <p
          style="
            background: #ffffff;
            opacity: 0.8;
            border-radius: 30px 30px 0px 0px;
            position: absolute;
            bottom: -20px;
            right: 25%;
            padding: 20px 40px;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 34px;
            text-align: center;

            color: #b58152;
          "
        >
          اکستنشن و هایلایت
        </p>
      </div>
      <div class="col-lg-4 my-2" style="position: relative">
        <img
          src="./images/woman-cosmetology-studio-laser-hair-removal_1157-34891 1.png"
          class="w-100 img-fluid"
          alt=""
        />
        <p
          style="
            background: #ffffff;
            opacity: 0.8;
            border-radius: 30px 30px 0px 0px;
            position: absolute;
            bottom: -20px;
            right: 25%;
            padding: 20px 40px;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 34px;
            text-align: center;

            color: #b58152;
          "
        >
          اکستنشن و هایلایت
        </p>
      </div>
      <div class="col-lg-4 my-2" style="position: relative">
        <img
          src="./images/woman-cosmetology-studio-laser-hair-removal_1157-34891 1.png"
          class="w-100 img-fluid"
          alt=""
        />
        <p
          style="
            background: #ffffff;
            opacity: 0.8;
            border-radius: 30px 30px 0px 0px;
            position: absolute;
            bottom: -20px;
            right: 25%;
            padding: 20px 40px;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 34px;
            text-align: center;

            color: #b58152;
          "
        >
          اکستنشن و هایلایت
        </p>
      </div>
    </div>
  </section>

  <!-- team us  -->
  <div class="" style="background-color: #f3f0eb">
    <section
      class="container my-4"
      style="padding: 0px 0px 25px 0px; max-width: 1200px"
    >
      <div
        class="d-flex justify-content-center flex-column align-items-center"
      >
        <h3 class="mt-5 mb-4 fw-bold">تیم مجرب ما</h3>
        <p
          style="
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            text-align: center;
            letter-spacing: 0.02em;

            color: #555555;
          "
        >
          و برای شرایـط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف
          بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته
          حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم
          افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان
          خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان
          امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ
          به پایان رسد.
        </p>
      </div>
      <div class="row justify-content-center align-items-center">
        <div
          class="col-lg-3 bg-image hover-overlay hover-zoom hover-shadow ripple ml-1 my-4"
          style="position: relative"
        >
          <img
            src="./images/expert1 1.png"
            class="img-fluid h-b"
            style="width: 100%"
            id="hoverDiv"
            alt=""
          />
          <div
            class=""
            id="newDiv"
            style="
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
            "
          >
            <p>مبینا حسینی</p>
            <p style="font-size: 12px" class="text-center">آرایشگر</p>
          </div>
        </div>
        <div
          class="col-lg-3 bg-image hover-overlay hover-zoom hover-shadow ripple ml-1 my-4"
          style="position: relative"
        >
          <img
            src="./images/expert1 1.png"
            class="img-fluid h-b"
            style="width: 100%; height: 100%"
            id="hoverDiv"
            alt=""
          />
          <div
            class=""
            id="newDiv"
            style="
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
            "
          >
            <p>مبینا حسینی</p>
            <p style="font-size: 12px" class="text-center">آرایشگر</p>
          </div>
        </div>
        <div
          class="col-lg-3 bg-image hover-overlay hover-zoom hover-shadow ripple ml-1 my-4"
          style="position: relative"
        >
          <img
            src="./images/expert1 1.png"
            class="img-fluid h-b"
            style="width: 100%"
            id="hoverDiv"
            alt=""
          />
          <div
            class=""
            id="newDiv"
            style="
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
            "
          >
            <p>مبینا حسینی</p>
            <p style="font-size: 12px" class="text-center">آرایشگر</p>
          </div>
        </div>
        <div
          class="col-lg-3 bg-image hover-overlay hover-zoom hover-shadow ripple ml-1 my-4"
          style="position: relative"
        >
          <img
            src="./images/expert1 1.png"
            class="img-fluid h-b"
            style="width: 100%"
            id="hoverDiv"
            alt=""
          />
          <div
            class=""
            id="newDiv"
            style="
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
            "
          >
            <p>مبینا حسینی</p>
            <p style="font-size: 12px" class="text-center">آرایشگر</p>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- دوره های آموزشی  -->

  <section class="my-5">
    <div class="container" style="max-width: 1200px">
      <div>
        <h2 class="text-center fw-bold" style="font-size: 24px">
          دوره های آموزشی
        </h2>
      </div>
      <div>
        <div class="row justify-content-center p-4">
          <div class="mt-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 col-12">
            <div class="w-100 pb-0" style="background-color: #efeded">
              <div>
                <img
                  class="w-100"
                  style="object-fit: cover"
                  src="./images/Rectangle 15 (1).png"
                />
              </div>
              <div>
                <div class="px-3">
                  <div class="mt-4">
                    <h3 class="fw-bold" style="font-size: 18px">
                      دوره آموزشی هایلایت و اکستنشن
                    </h3>
                  </div>
                  <div class="mt-3">
                    <div class="d-flex justify-content-between">
                      <div class="">
                        <div class="my-2 d-flex align-items-center">
                          <div
                            style="
                              width: 10px;
                              height: 10px;
                              background-color: #9e8a68;
                              border-radius: 50%;
                            "
                          ></div>
                          <p
                            class="m-0 me-2"
                            style="
                              font-weight: 500;
                              font-size: 13.4819px;
                              line-height: 23px;
                              /* identical to box height */

                              color: #1e1e1e;

                              opacity: 0.9;
                            "
                          >
                            مدت دوره: 30 ساعت
                          </p>
                        </div>
                        <div class="my-2 d-flex align-items-center">
                          <div
                            style="
                              width: 10px;
                              height: 10px;
                              background-color: #9e8a68;
                              border-radius: 50%;
                            "
                          ></div>
                          <p
                            class="m-0 me-2"
                            style="
                              font-weight: 500;
                              font-size: 13.4819px;
                              line-height: 23px;
                              /* identical to box height */

                              color: #1e1e1e;

                              opacity: 0.9;
                            "
                          >
                            سطح: مبتدی تا پیشرفته
                          </p>
                        </div>
                      </div>
                      <div class="">
                        <div class="my-2 d-flex align-items-center">
                          <div
                            style="
                              width: 10px;
                              height: 10px;
                              background-color: #9e8a68;
                              border-radius: 50%;
                            "
                          ></div>
                          <p
                            class="m-0 me-2"
                            style="
                              font-weight: 500;
                              font-size: 13.4819px;
                              line-height: 23px;
                              /* identical to box height */

                              color: #1e1e1e;

                              opacity: 0.9;
                            "
                          >
                            مدرس: خانم احمدزاده
                          </p>
                        </div>
                        <div class="d-flex align-items-center">
                          <div
                            style="
                              width: 10px;
                              height: 10px;
                              background-color: #9e8a68;
                              border-radius: 50%;
                            "
                          ></div>
                          <p
                            class="m-0 me-2"
                            style="
                              font-weight: 500;
                              font-size: 13.4819px;
                              line-height: 23px;
                              /* identical to box height */

                              color: #1e1e1e;

                              opacity: 0.9;
                            "
                          >
                            ظرفیت دوره: 15 نفر
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mt-4 d-flex justify-content-center">
                    <div
                      class="fw-bold text-white d-flex justify-content-center align-items-center"
                      style="
                        background: #9e8a68;
                        border-radius: 131px;

                        width: 155.61px;
                        height: 37px;
                        cursor: pointer;
                        font-size: 16px;
                        line-height: 27px;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        margin-bottom: 19px;
                        color: #ffffff;
                      "
                    >
                      مشاهده دوره
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 col-12">
            <div class="w-100 pb-0" style="background-color: #efeded">
              <div>
                <img
                  class="w-100"
                  style="object-fit: cover"
                  src="./images/Rectangle 15 (1).png"
                />
              </div>
              <div>
                <div class="px-3">
                  <div class="mt-4">
                    <h3 class="fw-bold" style="font-size: 18px">
                      دوره آموزشی هایلایت و اکستنشن
                    </h3>
                  </div>
                  <div class="mt-3">
                    <div class="d-flex justify-content-between">
                      <div class="">
                        <div class="my-2 d-flex align-items-center">
                          <div
                            style="
                              width: 10px;
                              height: 10px;
                              background-color: #9e8a68;
                              border-radius: 50%;
                            "
                          ></div>
                          <p
                            class="m-0 me-2"
                            style="
                              font-weight: 500;
                              font-size: 13.4819px;
                              line-height: 23px;
                              /* identical to box height */

                              color: #1e1e1e;

                              opacity: 0.9;
                            "
                          >
                            مدت دوره: 30 ساعت
                          </p>
                        </div>
                        <div class="my-2 d-flex align-items-center">
                          <div
                            style="
                              width: 10px;
                              height: 10px;
                              background-color: #9e8a68;
                              border-radius: 50%;
                            "
                          ></div>
                          <p
                            class="m-0 me-2"
                            style="
                              font-weight: 500;
                              font-size: 13.4819px;
                              line-height: 23px;
                              /* identical to box height */

                              color: #1e1e1e;

                              opacity: 0.9;
                            "
                          >
                            سطح: مبتدی تا پیشرفته
                          </p>
                        </div>
                      </div>
                      <div class="">
                        <div class="my-2 d-flex align-items-center">
                          <div
                            style="
                              width: 10px;
                              height: 10px;
                              background-color: #9e8a68;
                              border-radius: 50%;
                            "
                          ></div>
                          <p
                            class="m-0 me-2"
                            style="
                              font-weight: 500;
                              font-size: 13.4819px;
                              line-height: 23px;
                              /* identical to box height */

                              color: #1e1e1e;

                              opacity: 0.9;
                            "
                          >
                            مدرس: خانم احمدزاده
                          </p>
                        </div>
                        <div class="d-flex align-items-center">
                          <div
                            style="
                              width: 10px;
                              height: 10px;
                              background-color: #9e8a68;
                              border-radius: 50%;
                            "
                          ></div>
                          <p
                            class="m-0 me-2"
                            style="
                              font-weight: 500;
                              font-size: 13.4819px;
                              line-height: 23px;
                              /* identical to box height */

                              color: #1e1e1e;

                              opacity: 0.9;
                            "
                          >
                            ظرفیت دوره: 15 نفر
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mt-4 d-flex justify-content-center">
                    <div
                      class="fw-bold text-white d-flex justify-content-center align-items-center"
                      style="
                        background: #9e8a68;
                        border-radius: 131px;

                        width: 155.61px;
                        height: 37px;
                        cursor: pointer;
                        font-size: 16px;
                        line-height: 27px;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        margin-bottom: 19px;
                        color: #ffffff;
                      "
                    >
                      مشاهده دوره
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 col-12">
            <div class="w-100 pb-0" style="background-color: #efeded">
              <div>
                <img
                  class="w-100"
                  style="object-fit: cover"
                  src="./images/Rectangle 15 (1).png"
                />
              </div>
              <div>
                <div class="px-3">
                  <div class="mt-4">
                    <h3 class="fw-bold" style="font-size: 18px">
                      دوره آموزشی هایلایت و اکستنشن
                    </h3>
                  </div>
                  <div class="mt-3">
                    <div class="d-flex justify-content-between">
                      <div class="">
                        <div class="my-2 d-flex align-items-center">
                          <div
                            style="
                              width: 10px;
                              height: 10px;
                              background-color: #9e8a68;
                              border-radius: 50%;
                            "
                          ></div>
                          <p
                            class="m-0 me-2"
                            style="
                              font-weight: 500;
                              font-size: 13.4819px;
                              line-height: 23px;
                              /* identical to box height */

                              color: #1e1e1e;

                              opacity: 0.9;
                            "
                          >
                            مدت دوره: 30 ساعت
                          </p>
                        </div>
                        <div class="my-2 d-flex align-items-center">
                          <div
                            style="
                              width: 10px;
                              height: 10px;
                              background-color: #9e8a68;
                              border-radius: 50%;
                            "
                          ></div>
                          <p
                            class="m-0 me-2"
                            style="
                              font-weight: 500;
                              font-size: 13.4819px;
                              line-height: 23px;
                              /* identical to box height */

                              color: #1e1e1e;

                              opacity: 0.9;
                            "
                          >
                            سطح: مبتدی تا پیشرفته
                          </p>
                        </div>
                      </div>
                      <div class="">
                        <div class="my-2 d-flex align-items-center">
                          <div
                            style="
                              width: 10px;
                              height: 10px;
                              background-color: #9e8a68;
                              border-radius: 50%;
                            "
                          ></div>
                          <p
                            class="m-0 me-2"
                            style="
                              font-weight: 500;
                              font-size: 13.4819px;
                              line-height: 23px;
                              /* identical to box height */

                              color: #1e1e1e;

                              opacity: 0.9;
                            "
                          >
                            مدرس: خانم احمدزاده
                          </p>
                        </div>
                        <div class="d-flex align-items-center">
                          <div
                            style="
                              width: 10px;
                              height: 10px;
                              background-color: #9e8a68;
                              border-radius: 50%;
                            "
                          ></div>
                          <p
                            class="m-0 me-2"
                            style="
                              font-weight: 500;
                              font-size: 13.4819px;
                              line-height: 23px;
                              /* identical to box height */

                              color: #1e1e1e;

                              opacity: 0.9;
                            "
                          >
                            ظرفیت دوره: 15 نفر
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mt-4 d-flex justify-content-center">
                    <div
                      class="fw-bold text-white d-flex justify-content-center align-items-center"
                      style="
                        background: #9e8a68;
                        border-radius: 131px;

                        width: 155.61px;
                        height: 37px;
                        cursor: pointer;
                        font-size: 16px;
                        line-height: 27px;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        margin-bottom: 19px;
                        color: #ffffff;
                      "
                    >
                      مشاهده دوره
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- blogs -->
  <section class="container my-4" style="max-width: 1200px">
    <div class="d-flex justify-content-center flex-column align-items-center">
      <h3 class="fw-bold" style="margin-bottom: 33px">مقالات</h3>
      <p
        style="
          font-weight: 500;
          font-size: 16px;
          line-height: 27px;
          text-align: center;
          letter-spacing: 0.02em;

          color: #555555;
        "
      >
        و برای شرایـط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود
        ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و
        آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها
        شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ
        پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و
        دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد.
      </p>
    </div>
    <div class="row">
      <div class="col-lg-6 my-2" style="position: relative">
        <div class="d-flex flex-column" style="background: #efeded">
          <img src="./images/2.png" alt="" />
          <div
            class="mb-5 d-none d-lg-flex justify-content-around p-1"
            style="
              background-color: white;
              width: 258px;
              border-radius: 47.25px;
              position: absolute;
              left: 220px;
              top: 200px;
            "
          >
            <span
              class="bi bi-calendar-day"
              style="color: #000000; opacity: 0.5"
            >
              1402/05/23
            </span>
            <span class="bi bi-eye" style="color: #000000; opacity: 0.5">
              325
            </span>
          </div>
          <div
            class="mb-5 d-lg-none d-flex justify-content-around p-1"
            style="
              background-color: white;
              width: 258px;
              border-radius: 47.25px;
              position: absolute;
              left: 110px;
              top: 140px;
            "
          >
            <span
              class="bi bi-calendar-day"
              style="color: #000000; opacity: 0.5"
            >
              1402/05/23
            </span>
            <span class="bi bi-eye" style="color: #000000; opacity: 0.5">
              325
            </span>
          </div>
          <div class="p-4">
            <h4
              style="
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 34px;
                text-align: right;

                color: #000000;
              "
            >
              برند رکسونا از جدیدترین محصول خود رونمایی کرد
            </h4>
            <p
              style="
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 27px;
                text-align: justify;
                letter-spacing: 0.02em;

                color: #555555;
              "
            >
              و برای شرایـط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف
              بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد
              گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا
              با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص
              طراحان است.
            </p>
            <div class="d-flex w-100 justify-content-end">
              <a href="">
                <button
                  style="
                    width: 200px;
                    background: #9e8a68;
                    border-radius: 131px;
                    font-weight: 500;
                    border: 0;
                    padding: 15px 15px;
                    font-size: 18px;

                    text-align: center;

                    color: #ffffff;
                  "
                >
                  مشاهده بیشتر
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 my-2" style="position: relative">
        <div class="d-flex flex-column" style="background: #efeded">
          <img src="./images/222.png" alt="" />
          <div
            class="mb-5 d-none d-lg-flex justify-content-around p-1"
            style="
              background-color: white;
              width: 258px;
              border-radius: 47.25px;
              position: absolute;
              left: 220px;
              top: 200px;
            "
          >
            <span
              class="bi bi-calendar-day"
              style="color: #000000; opacity: 0.5"
            >
              1402/05/23
            </span>
            <span class="bi bi-eye" style="color: #000000; opacity: 0.5">
              325
            </span>
          </div>
          <div
            class="mb-5 d-lg-none d-flex justify-content-around p-1"
            style="
              background-color: white;
              width: 258px;
              border-radius: 47.25px;
              position: absolute;
              left: 110px;
              top: 140px;
            "
          >
            <span
              class="bi bi-calendar-day"
              style="color: #000000; opacity: 0.5"
            >
              1402/05/23
            </span>
            <span class="bi bi-eye" style="color: #000000; opacity: 0.5">
              325
            </span>
          </div>
          <div class="p-4">
            <h4
              style="
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 34px;
                text-align: right;

                color: #000000;
              "
            >
              برند رکسونا از جدیدترین محصول خود رونمایی کرد
            </h4>
            <p
              style="
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 27px;
                text-align: justify;
                letter-spacing: 0.02em;

                color: #555555;
              "
            >
              و برای شرایـط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف
              بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد
              گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا
              با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص
              طراحان است.
            </p>
            <div class="d-flex w-100 justify-content-end">
              <a href="">
                <button
                  style="
                    width: 200px;
                    background: #9e8a68;
                    border-radius: 131px;
                    font-weight: 500;
                    border: 0;
                    padding: 15px 15px;
                    font-size: 18px;

                    text-align: center;

                    color: #ffffff;
                  "
                >
                  مشاهده بیشتر
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}