{% load static %}
<!-- footer-->
<footer
class="w-100  p-4"
style="position: relative; background-color: #070f12"
>
<div class="container">
  <img
    src="./images/Pattern.png"
    class="img-fluid"
    style="
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 9;
      height: 100%;
    "
    alt=""
  />
  <img
    src="./images/Pattern-1.png"
    class="img-fluid"
    style="position: absolute; left: 0; bottom: 0; z-index: 9"
    alt=""
  />

  <div class="row p-4" style="z-index: 10">
    <div
      class="col-lg-6 col-12 d-flex flex-column align-items-center"
      style="z-index: 10; padding: 0px 94px"
    >
      <p class="text-white">
        <span class="px-4 p-1" style="border: 2px solid #c19a5d"
          >NILA</span
        >
        BEAUTY SALON
      </p>
      <p
        class="text-white"
        style="font-size: 12px; line-height: 2; text-align: justify"
      >
        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
        استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله
        در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
        نیاز، و کاربردهای متنوع با هدف بهبود کاربرد و تنوع با هدف طراحان
        گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان
        بهبود.
      </p>
    </div>
    <div
      class="col-lg-2 col-12 d-flex flex-column align-items-start"
      style="z-index: 10"
    >
      <p class="text-white" style="opacity: 0.7; font-size: 13px">
        دسترسی سریع
      </p>
      <ul class="p-0">
        <li class="mb-3" style="list-style-type: none">
          <a
            style="text-decoration: none; font-size: 12px"
            href=""
            class="text-white"
            >درباره ما
          </a>
        </li>
        <li class="mb-3" style="list-style-type: none">
          <a
            style="text-decoration: none; font-size: 12px"
            href=""
            class="text-white"
            >درباره ما
          </a>
        </li>
        <li class="mb-3" style="list-style-type: none">
          <a
            style="text-decoration: none; font-size: 12px"
            href=""
            class="text-white"
            >درباره ما
          </a>
        </li>
        <li class="mb-3" style="list-style-type: none">
          <a
            style="text-decoration: none; font-size: 12px"
            href=""
            class="text-white"
            >درباره ما
          </a>
        </li>
      </ul>
    </div>

    <div
      class="col-lg-4 col-12 d-flex flex-column justify-content-start align-items-end"
      style="z-index: 10"
    >
      <p class="text-white" style="opacity: 0.7; font-size: 15px">
        با ثبت ایمیل خود از اخبار و تخیفیف‌های ما با خبر باشید
      </p>
      <input
        style=""
        class="w-100"
        type="text"
        name=""
        id=""
        placeholder="ایمیل"
      />
      <button
        style="
          background-color: #ffffff;
          color: #070f12;
          border: 0;
          font-size: 16px;
          padding: 7px 45px;
        "
        class="my-4"
      >
        ارسال
      </button>
    </div>
  </div>
</div>
</footer>